body {
  background: radial-gradient(#4d5052, #262829);
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 1000px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid red;
  text-align: center;
  font-family: 'Russo One', sans-serif;
}

.popcorn {
  width: 70px;
  margin-bottom: 10px;
}

div {
  /* border: 1px solid gold; */
}

form {
  padding-bottom: 10px;
}

#searchBar {
  height: 30px;
  text-indent: 5px;
  font-size: 16px;
  background-color: whitesmoke;
}

#searchBtn {
  padding: 10px 14px;
  background-color: red;
  font-size: 12px;
  font-weight: bold;
  border: 1.5px solid white;
  outline: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #bf0000;
}

.search {
  display: flex;
  height: 100px;
}

.leftSearch, .rightSearch {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightSearch {
  justify-content: flex-end;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.list {
  margin-top: 22px;
  width: 28%;
  height: 715px;
  border: 2px solid red;
  text-align: center;
  overflow-y: auto;
  background-color: black;
  font-family: 'Russo One', sans-serif;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 5px; */
}

.info {
  width: 70%;
}

.movie-heading {
  display: flex;
  justify-content: space-around;
}

.heading-info {
  flex-grow: 3;
  padding-left: 5px;
}

.addButton {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#addButton:hover {
  background-color: #bf0000;
}

#addButton {
  padding: 10px 14px;
  background-color: red;
  font-size: 35px;
  font-weight: bold;
  border: 2px solid white;
  outline: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 15px;
}

.separate {
  font-size: 16px;
  text-align: center;
}

.img-ratings {
  display: flex;
}

.ratings {
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 75px;
}

.ratings img {
  width: 100px;
}

#critic {
  width: 130px;
}

.ratings h3 {
  text-align: center;
}

#poster {
  border: 5px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  color: red;
  /* text-shadow: .5px .5px white; */
}

.stats {
  display: flex;
  align-items: center;
  height: 45px;
}

#director {
  padding-left: 10px;
}

#writers {
  padding-left: 10px;
}

#actors {
  padding-left: 10px;
}

footer {
  margin-top: 20px;
  border-top: 2px solid red;
  text-align: center;
  font-size: 12px;
}

/* ==========> MODAL <============= */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
  background: radial-gradient(#4d5052, #262829);
	height: 300px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

.modal-footer {
	text-align: right;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: red;
  font-size: 15px;
  font-weight: bold;
	border: 2px solid white;
	outline: none;
	border-radius: 7px;
	color: white;
	cursor: pointer;
}

.modal-buttons:hover {
  background-color: #bf0000;
}
